body {
    background-color: lightblue;
    font-style: italic;
    font-size: xx-large;
    font: bold;
}

ul {
    background-color: chocolate;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}